@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(96.22% 0.0569 95.61);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(84.08% 0.1725 84.2);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #FFBF00;
  --chart-2: #0099FF;
  --chart-3: #FF7A05;
  --chart-4: #00D696;
  --chart-5: #7A83FF;
  --chart-active-dot: #000;
}

.dark {
  --background: oklch(28.91% 0.0359 90.09);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(77.7% 0.1593880864006951 84.38427202675717);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #E5AC00;
  --chart-2: #008AE5;
  --chart-3: #EB6D00;
  --chart-4: #00BD84;
  --chart-5: #7A83FF;
  --chart-active-dot: #fff;
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;
}

.neo-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #000 transparent;
}

.neo-scrollbar::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

.neo-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

.neo-scrollbar::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
}

.neo-scrollbar::-webkit-scrollbar-thumb {
  background: #ffdd00;
  border: 3px solid #000;
}

.neo-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ff9900;
}

.neo-scrollbar::-webkit-scrollbar-thumb:active {
  background: #ff5500;
}

.neo-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}
@layer base {
  body {
    @apply text-foreground font-base bg-[linear-gradient(to_right,#80808033_1px,transparent_1px),linear-gradient(to_bottom,#80808033_1px,transparent_1px)] bg-[size:70px_70px];
  }

  h1, h2, h3, h4, h5, h6{
    @apply font-heading;
  }
}